*.o
*.elf
*.cdi
*.iso

1st_read.bin
dc/cd_root/1st_read.bin
dc/cd_root/1ST_READ.bin

DreamStella.elf
DreamStella.bin
dc/DreamStella.elf
dc/DreamStella.bin

dc/obj/
dc/build/

dc/cd_root/roms/*
!dc/cd_root/roms/.gitkeep

dc/cd_root/covers/*
!dc/cd_root/covers/.gitkeep

dc/romdisk/covers/*
!dc/romdisk/covers/.gitkeep

dc/romdisk/roms/*
!dc/romdisk/roms/.gitkeep

.DS_Store
Thumbs.db

.vscode/
*.swp